<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.9" targetFramework="net46" />
  <package id="OpenMetaverse" version="0.9.3.3318" targetFramework="net46" />
  <package id="OpenMetaverse.StructuredData" version="0.9.3.3318" targetFramework="net46" />
  <package id="OpenMetaverseTypes" version="0.9.3.3318" targetFramework="net46" />
</packages>