<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibreMetaverse" version="1.2.1.151" targetFramework="net461" />
  <package id="LibreMetaverse.StructuredData" version="1.2.1.151" targetFramework="net461" />
  <package id="LibreMetaverse.Types" version="1.2.1.151" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net461" />
  <package id="protobuf-net" version="2.3.2" targetFramework="net461" />
  <package id="XmlRpcCs" version="2.1.1.2" targetFramework="net461" />
  <package id="zlib.net-mutliplatform" version="1.0.4" targetFramework="net461" />
</packages>